.card {
  position: relative;
  width: 288px;
  height: 224px;
  background-color: var(--neutral-100);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 24px 24px;
  box-shadow: 12px 12px var(--purple-800);
}

.iconWrapper {
  width: 84px;
  height: 84px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: auto;
    padding: 16px;
    box-shadow: 8px 8px var(--purple-800);
  }

  .iconWrapper {
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
  }

  .iconWrapper img {
    width: 32px;
    height: 32px;
  }
}
