.card {
  position: relative;
  width: 288px;
  height: 224px;
  background-color: var(--neutral-100);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 24px 24px;
  box-shadow: 12px 12px var(--purple-800);
}

.iconWrapper {
  width: 84px;
  height: 84px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
