.links {
  display: flex;
  gap: 24px;
  margin-bottom: 80px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 24px;
}

.content {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  gap: 24px;
}

.description {
  font-size: 16px;
  color: var(--neutral-700);
}

.button {
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid var(--purple-600);
  border-radius: 2px;
  width: fit-content;
  padding: 16px 24px;
}

.videoContainer {
  width: 100%;
  max-width: 598px;
}

.facts {
  margin-top: 40px;
  display: flex;
  gap: 24px;
}

@media (max-width: 768px) {
  .links {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  .wrapper {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .videoContainer video {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    display: block;
  }
}

.description {
  font-size: 15px;
}

.button {
  padding: 14px 20px;
}

.facts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
