.links {
  display: flex;
  gap: 24px;
  margin-bottom: 80px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 24px;
}

.content {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  gap: 24px;
}

.description {
  font-size: 16px;
  color: var(--neutral-700);
}

.button {
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid var(--purple-600);
  border-radius: 2px;
  width: fit-content;
  padding: 16px 24px;
}

.videoContainer {
  width: 100%;
  max-width: 598px;
}

.facts {
  margin-top: 40px;
  display: flex;
  gap: 24px;
}
