.swiper {
  padding-top: 24px;
  padding-bottom: 30px;
}

.card {
  background: #ffffff;
  height: 96px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px 0px #3430381a;
  box-shadow: 0px 2px 4px 0px #3430380f;
}

.card img {
  max-width: 160px;
  max-height: 48px;
  object-fit: contain;
}

:global(.swiper-pagination-bullet) {
  background: #c4c4c4;
  opacity: 1;
}

:global(.swiper-pagination-bullet-active) {
  background: #7b4dff;
}
