.container {
  padding: 40px 0;
  background-color: white;
  color: white;
}

.swiper {
  width: 100%;
  padding-bottom: 40px;
}

.slide {
  padding: 24px 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bgImage {
  position: absolute;
  inset: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.button {
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  display: flex;
  gap: 8px;
  align-items: center;
}

@media (max-width: 768px) {
  .slide {
    padding: 16px;
  }
}
