.main {
  background-color: white;
}

.upper {
  background-color: var(--purple-800);
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
}

.addressWrap {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
}

.address {
  line-height: 20px;
}

.navigation {
  display: flex;
  gap: 16px;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 32px;
}

.rightSide {
  display: flex;
  gap: 16px;
}

.phone {
  display: flex;
  align-items: center;
  gap: 4px;
}

.phoneNumber {
  font-weight: 500;
}

.changeLanguage {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 0;
}

.lower {
  max-width: 1220px;
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: white;
}

.navigation {
  display: flex;
  gap: 24px;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger span {
  width: 22px;
  height: 2px;
  background-color: #000;
  display: block;
}

@media (max-width: 768px) {
  .upper {
    display: none;
  }

  .lower {
    padding: 12px 16px;
  }

  .navigation {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
