.main {
  background-color: white;
}

.upper {
  background-color: var(--purple-800);
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
}

.addressWrap {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
}

.address {
  line-height: 20px;
}

.navigation {
  display: flex;
  gap: 16px;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 32px;
}

.rightSide {
  display: flex;
  gap: 16px;
}

.phone {
  display: flex;
  align-items: center;
  gap: 4px;
}

.changeLanguage {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 0;
}

.lower {
  max-width: 1220px;
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: white;
}

.navigation {
  display: flex;
  gap: 24px;
}