.bg {
  background-color: white;
}

.container {
  display: flex;
  gap: 127px;
  align-items: center;
  max-width: 1222px;
  width: 100%;
  margin: 0 auto;
  padding: 28px 0;
  margin-top: 96px;
}

.input {
  border: 1px solid var(--neutral-200);
  padding: 16px;
  max-width: 392px;
  width: 100%;
  border-radius: 8px;
}

.button {
  background-color: var(--purple-500);
  color: white;
  max-width: 287px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
    margin-top: 48px;
    text-align: center;
  }

  .input {
    max-width: 100%;
  }

  .button {
    max-width: 100%;
  }
}
