.section {
  background-color: var(--neutral-50);
  padding: 20px 0;
}

.container {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
}

.logoIcon {
  display: flex;
  justify-content: space-between;
}

.groupIcon {
  display: flex;
  gap: 24px;
  align-self: flex-end;
}

.icon {
  height: 18px;
  width: 18px;
}

.hr {
  border-bottom: 1px solid var(--neutral-100);
  margin: 20px 0;
}

.right {
  text-align: center;
}

@media (max-width: 768px) {
  .section {
    padding: 24px 16px;
  }

  .logoIcon {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .groupIcon {
    margin: 0 auto;
  }

  .hr {
    margin: 24px 0;
  }

  .right {
    font-size: 14px;
  }
}
