.card {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px #3430381a;
  box-shadow: 0px 2px 4px 0px #3430380f;
}

.card img {
  width: 100%;
  height: 100%;
  max-height: 220px;
  object-fit: cover;
}

.content {
  padding: 16px;
}

.date {
  font-size: 14px;
  color: var(--neutral-700);
  margin-bottom: 8px;
}
