:root {
  /* Palette */

  /* Purple */

  --purple-50: #f0f0f0;
  --purple-100: #e0d2ec;
  --purple-200: #cab4e0;
  --purple-300: #b596d3;
  --purple-400: #a078c7;
  --purple-500: #8755b8;
  --purple-600: #7545a4;
  --purple-700: #5f3886;
  --purple-800: #4a2b68;
  --purple-900: #341f49;
  --purple-950: #1f122b;

  /* Orange */

  --orange-50: #fef1ec;
  --orange-100: #fad4c4;
  --orange-200: #f7b69d;
  --orange-300: #f49975;
  --orange-400: #f17c4d;
  --orange-500: #ed5417;
  --orange-600: #d84911;
  --orange-700: #b03c0e;
  --orange-800: #882e0b;
  --orange-900: #612107;
  --orange-950: #391304;

  /* Neutral */

  --neutral-50: #f5f4f6;
  --neutral-100: #dfdde2;
  --neutral-200: #cac6ce;
  --neutral-300: #b5afba;
  --neutral-400: #9f97a7;
  --neutral-500: #877d90;
  --neutral-600: #746b7e;
  --neutral-700: #5f5766;
  --neutral-800: #49444f;
  --neutral-900: #343038;
  --neutral-950: #1f1c21;

  /* Red */

  --red-50: #fdecec;
  --red-100: #fac5c5;
  --red-200: #f69e9e;
  --red-300: #f27777;
  --red-400: #ef4f4f;
  --red-500: #eb2626;
  --red-600: #d51414;
  --red-700: #ae1010;
  --red-800: #860c0c;
  --red-900: #5f0909;
  --red-950: #380505;
}

@font-face {
  font-family: 'Roboto';
  src: url(/public/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

body {
  font-family: 'Roboto';
  color: var(--neutral-900);
  background-color: var(--neutral-50);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
button {
  all: unset;
  cursor: pointer;
}

p {
  line-height: 150%;
}

.main-content {
  min-height: calc(100vh - 104px);
}

.page-max-width {
  max-width: 1222px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Typography */
h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0%;
}
