.container {
  max-width: 1220px;
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.navigation {
  display: flex;
  gap: 24px;
}
