.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.all {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  border: 1px solid var(--purple-600);
  border-radius: 8px;
  color: var(--purple-600);
  font-weight: 700;
}

.swiper {
  padding-bottom: 30px;
}

:global(.swiper-pagination-bullet) {
  background: #c4c4c4;
  opacity: 1;
}
